<ion-view view-title="Clothes">
	<ion-content class="stable-bg">
        <center>
            <div style="padding-top: 50%" ng-show="isNoNetwork">
                <h4 class="dark">No Network Connection</h4>
                <button class="button button-small button-assertive" ng-click="loadMyClothes()">Retry</button>
            </div>
        </center>

        <center>
            <div style="padding-top: 50%" ng-show="isNoCloth">
                <h4 class="dark">No clothes found</h4>
                <p>Start making clothes through fafa to populate your wardrope</p>
            </div>
        </center>

        <center>
            <div style="padding-top: 50%" ng-show="isError">
                <h4 class="dark">Oops, an error occured</h4>
                <button class="button button-small button-assertive" ng-click="loadMyClothes()">Retry</button>
            </div>
        </center>
        
        <ul class="list card">
            <li class="item" ng-repeat="cloth in clothes">
                <span class="item-note">
                &#x20a6;{{cloth.price}}
              </span>
                <h2>{{cloth.title}}</h2>
                <p>{{cloth.description}}</p>
            </li>
        
        </ul>
    		<ion-infinite-scroll
                immediate-check="false"
                ng-if="hasNext()"
                on-infinite="loadMyClothes()"
                distance="12%">
            </ion-infinite-scroll>
    </ion-content>
</ion-view>
